<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  
</p>

<p>
  <strong>Contenido:</strong>
  <%= @status.contenido %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
